body{
    font-family: 'Dancing Script', cursive;
    margin:0;
    background:rgb(47, 255, 241); 
     
}

#texto{
    text-align: center;
    margin:4%;
    font-size: 80%;
}


header{
    display: flex;
    background-image: linear-gradient(175deg, #FF0000, #FFFFFF);
    align-items: center;
    padding: 10px;
    text-align: center;

}
#titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 40pt;
    margin-left: 20px;
}

.logo{
    display: flex;
    align-items: center;
    
}

.logo img{
    margin-right: 30px;
    width: 150px;
    height: 150px;
}
nav{
    text-align: center;
    margin-top: 10px;
}
nav a{
    font-family: 'Dancing Script', cursive;
    color:rgb(255, 0, 0);

    font-weight: 600;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    height: 80px;
    width: 100%;
    color: blue;
}

.main-container{
    box-sizing: border-box;
    width: 99%;
    margin: 10px auto 20px;
    font-size: 15px;
}

section{
    background-color:var(--Transparentwhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;   
}

section article{
    text-align: center;
    border-radius: 10px;
    width: 300px;
    margin:4%;
    padding: 4px;
    height: 450px;

}

p{
    text-align: left;
    margin: 4%;
    font-size:20px ;

}

.meto{
    text-align: center;
    font-size: 20px;
}

#mision{
    background-color: var(--rojo);
}

#objetivos{
    background-color: var(--amarillo);
}

#secundarios{
    background-color: var(---verde);
}

h2{
    color:black;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    color: black;
    line-height: 20px;
    margin-bottom: 20;
}



:root{
    --rojo : hsl(0, 100%, 50%);
    --amarillo : hsl(53, 99%, 49%);
    ---verde : hsl(121, 100%, 50%);
    --Transparentwhite: hsl(0, 0%, 100%, 0);
    --parrafo: hsl(0, 0%, 100%);
    /*parafos*/
    --veryligthgray: hsl(0, 0%, 100%);
}

@import url("https//fons.googleapis.com/css2?family-poppins:wghta300;400;600;700;900&display-spaw");

h3{
    text-align: center;
    color: #000000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.redes{
    text-align: center;
}

ul{
    justify-content:center;
    display: flex;
    gap: 25px;
    color: #FFFFFF;
    
    
}

ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

ul li{
    background-color: rgb(12, 61, 255);
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}

ul li:hover{
    width: 180px;
    box-shadow:0 10px 25px rgb(74, 2, 255);
}

ul li:before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--1), var(--j));
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before{
    opacity: 1;
}

ul li::after{
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i),var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index:-1;
    filter:blur(30px);
}

ul li:hover::after{
    opacity: 0.5;
}

ul li i{
    color: #be89ff;
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

ul li:hover i{
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
}

ul li span{
    position: absolute;
}

ul li.titulor{
    color: #0026ff;
    font-size: 1.1em !important;
    text-transform:lowercase;
    letter-spacing: 0.2em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 1s;
}

ul li:hover .titulor{
    transform: scale(1);
    transition-delay: 0.25s;
}

footer{
    background: linear-gradient(175deg, #FF0000, #FFFFFF);
    display: flex;
    padding: 15px;
    font-size: 20pt;
    text-align: center;
    justify-content:space-around;
}
.pieizquierdo{
    text-align: center;
    width: 40%;
    margin-top: 15px;
}
.piederecho{
    text-align: center;
    align-items: center;
}

#redessociales{
    font-size: 30px;
}

.linkslogos{
    width: 40px;
    height: 40px;
}

@media (max-width: 500px){
    header{
        flex-direction: column;
        font-size: 2px;
    }

    #titulo{
        font-size: 20px;
    }

    #logo{
        width: 80px;
        height: 80px;
        display: flex;
    }



    nav{
        padding: 10px;
        text-align:  center;
        margin:10px;
        font-size: 10pt;
        width: 80%;
        
    }

    .main-container{
        flex-direction: column;
        display: flex;
        margin-top: 10px;
        font-size: 80%;
        height: 1100px;
        font-family: 'Dancing Script', cursive;

    }


    section article{
        width: 290px;
        font-size: 20px;
    }

    .subtitulos{
        font-size: 20px;
    }
    

    p{
        margin-bottom: 2px;
    }


    h3{
        font-family: 'Dancing Script', cursive;
        font-size: 14px;
    }

    ul{
        gap: 10px;
        font-size: 10px;
    }

    footer{
        background: linear-gradient(175deg, #FF0000, #FFFFFF);
    }

    .pieizquierdo{
        margin-top: 10px ;
        font-size: 12px;
        width: 60%;
    }

    .piederecho{
        
        width:50%;
        
    }

    #redessociales{
        font-size: 14px;
    }

    .linkslogos{
        width: 15px;
        height: 15px;
    }
}
